<HTML>

<HEAD>
  <Style>
    body {
      background-color: #0080ff;
      text-align: center;
      font-size: 20px;
      color: white;
    }

    .container {
      float: left;
      position: relative;
      width: 200px;
    }

    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .container:hover .image {
      opacity: 0.3;
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
      background-color: white;
      color: #0080ff;
      font-size: 16px;
      padding: 16px 32px;
    }

    .sidenav {
      height: 100%;
      /* Full-height: remove this if you want "auto" height */
      width: 160px;
      /* Set the width of the sidebar */
      position: fixed;
      /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1;
      /* Stay on top */
      top: 0;
      /* Stay at the top */
      left: 0;
      background-color: #002280;
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      color: #0080ff;
    }

    .main {
      margin-left: 160px;
      /* Same as the width of the sidebar */
      padding: 0px 10px;
    }

    @media screen and (max-height: 700px) {
      .sidenav {
        padding-top: 15px;
        width: 120px
      }
      .sidenav a {
        font-size: 18px;
      }
      .container {
        width: 100px;
      }
    }

    a:link {
      text-decoration: none;
      color: white;
    }

    a:visited {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: none;
      color: #aaaaff;
    }

    a:active {
      text-decoration: none;
      color: white;
    }
  </Style>
  <Script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/383AC27F-B933-2640-8074-1570A6AFFAA4/main.js"
    charset="UTF-8"></script>
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/383AC27F-B933-2640-8074-1570A6AFFAA4/main.js"
    charset="UTF-8"></script>
  <script>
    async function changeStatus(index, state) {
      {
        if (state == "off") {
          var response = await fetch('http://192.168.178.45:3000/led/' + index, {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              state: 'on',
              id: index
            })
          });
          var respJSON = await response.json();
          if (!respJSON.hasOwnProperty("error"))
            updateHtml(index, respJSON.state);
        } else {
          var response = await fetch('http://192.168.178.45:3000/led/' + index, {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              state: 'off',
              id: index
            })
          });
          var respJSON = await response.json();
          if (!respJSON.hasOwnProperty("error"))
            updateHtml(index, respJSON.state);
        }
      }
    }

    function updateHtml(index, state) {
      document.getElementById('Led' + index).src = 'i_Lamp_' + state + '.jpg';
      document.getElementById('Led' + index).setAttribute('onclick','changeStatus(' + index + ',' + "'"+state +"'"+ ')');
    }
  </Script>
</HEAD>

<BODY>
  <div class="sidenav">
    <a href="Gestione.html">Gestione Casa</a>
    <a href="Test.html">...</a>
    <a href="#">...</a>
  </div>
  <div class="main">
    <div class="container">
      <img id="Led1" onclick="changeStatus(1,'{{{state1}}}')" src="/i_Lamp_{{{state1}}}.jpg" alt="Stanza1" class="image" style="width:100%">
      <div class="middle">
      </div>
      <p> Soggiorno </p>
    </div>
    <div class="container">
      <img id="Led2" onclick="changeStatus(2,'{{{state2}}}')" src="/i_Lamp_{{{state2}}}.jpg" alt="Stanza2" class="image" style="width:100%">
      <div class="middle">
      </div>
      <p> Soggiorno </p>
    </div>

  </div>
</BODY>

</HTML>