<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Light switch</title>
  </head>
  
  <body>
        <form action="/led" method="POST">
            <input type="submit" id="state" name="state" class="on" value="on"/>
            <input type="submit" id="state" name="state"  class="off" value="off"/>
        </form>
        <hr/>
        <div class="{{state}}">LED STATUS</div>
        
  </body>

    <style>
        html, body {
            height: 98%;
        }
        .on{
            content: "on";
            display: block;
            width: 50%;
            min-height:4%;
            margin: 5px auto;
            border: 1px;
            background-color: #4caf50;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
        .off{
            content: "off";
            display: block;
            width: 50%;
            min-height:4%;
            margin: 5px auto;
            border:1px;
            background-color: #af4e4c;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
    </style>

</html>